/* Box Model Hack */
* {
     box-sizing: border-box;
}



/******************************************
/* BASE STYLES
/*******************************************/

h1 {
     text-align: center;
     margin: 50px 0;
}


/******************************************
/* LAYOUT
/*******************************************/



/******************************************
/* ADDITIONAL STYLES
/*******************************************/
